<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>
    Project Manager
  </h3>  
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <ul class="nav navbar-nav">
      <li ><a [routerLink]= "'./AddProject'">Add Project</a></li>
      <li ><a [routerLink]= "'./AddTask'">Add Task</a></li>
      <li ><a [routerLink]= "'./AddUser'">Add User</a></li>
      <li ><a [routerLink]= "'./ViewTask'">View Task</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
